
{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">Table and tag variations for MOT testers annual assessment</h1>

        <p>See the <a href="https://jira.dvsacloud.uk/browse/BL-12711">Jira ticket - BL-12711</a> for more details.</p>

        <br>

        <h1 class="govuk-heading-m">Chosen design</h1>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Certificate number</th>
              <th scope="col" class="govuk-table__header">Date awarded </th>
              <th scope="col" class="govuk-table__header">Score achieved</th>
              <th scope="col" class="govuk-table__header">Source</th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">-heeh37heJUI9w</td>
              <td class="govuk-table__cell">10 March 2021</td>
              <td class="govuk-table__cell">86% <strong class="govuk-tag govuk-tag--green" style="margin-left:10px;">
                Pass
              </strong></td>

              <td class="govuk-table__cell">ABS</td>
              <td class="govuk-table__cell"><a href="">Change</a> <a href="">Remove</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">-heeh37heJUI9w</td>
              <td class="govuk-table__cell">10 March 2021</td>
              <td class="govuk-table__cell">60% <strong class="govuk-tag govuk-tag--red" style="margin-left:10px;">
                Fail
              </strong></td>

              <td class="govuk-table__cell">ABS</td>
              <td class="govuk-table__cell"><a href="">Change</a> <a href="">Remove</a></td>
            </tr>

          </tbody>
        </table>

        <br>

        <h1 class="govuk-heading-m">Previous iterations</h1>


        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Certificate number</th>
              <th scope="col" class="govuk-table__header">Date awarded </th>
              <th scope="col" class="govuk-table__header">Score achieved</th>
              <th scope="col" class="govuk-table__header">Result</th>
              <th scope="col" class="govuk-table__header">Source</th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">-heeh37heJUI9</td>
              <td class="govuk-table__cell">10 March 2021</td>
              <td class="govuk-table__cell">86% </td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green custom-tag">
                Pass
              </strong></td>
              <td class="govuk-table__cell">ABS</td>
              <td class="govuk-table__cell"><a href="">Change</a> <a href="">Remove</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">-heeh37heJUI9w</td>
              <td class="govuk-table__cell">10 March 2021</td>
              <td class="govuk-table__cell">86% </td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red custom-tag">
                Fail
              </strong></td>
              <td class="govuk-table__cell">ABS</td>
              <td class="govuk-table__cell"><a href="">Change</a> <a href="">Remove</a></td>
            </tr>

          </tbody>
        </table>

        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Certificate number</th>
              <th scope="col" class="govuk-table__header">Date awarded </th>
              <th scope="col" class="govuk-table__header">Score achieved</th>
              <th scope="col" class="govuk-table__header">Result</th>
              <th scope="col" class="govuk-table__header">Source</th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">-heeh37heJUI9w</td>
              <td class="govuk-table__cell">10 March 2021</td>
              <td class="govuk-table__cell">86% </td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">
                Pass
              </strong></td>
              <td class="govuk-table__cell">ABS</td>
              <td class="govuk-table__cell"><a href="">Change</a> <a href="">Remove</a></td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">-heeh37heJUI9w</td>
              <td class="govuk-table__cell">10 March 2021</td>
              <td class="govuk-table__cell">86% </td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">
                Fail
              </strong></td>
              <td class="govuk-table__cell">ABS</td>
              <td class="govuk-table__cell"><a href="">Change</a> <a href="">Remove</a></td>
            </tr>

          </tbody>
        </table>




      </div>
    </div>

  </main>
</div>






{% endblock %}
