
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <!-- <div class="interupt-panel">
          <h1 class="govuk-heading-xl">This driving licence is already in use</h1>
          <p class="govuk-body">The driving licence number <strong>HIELS607129SH9QG</strong> is being used by <a href="" class="govuk-link">another profile</a>.</p>
          <p>Make sure you have added the correct driving licence number.</p>
          <button class="govuk-button" data-module="govuk-button">
            Go back and change
          </button>
          <p><a href="#" class="govuk-link">Cancel and return home</a></p>
        </div>

        <br>

        <div class="interupt-panel">
          <h1 class="govuk-heading-xl">This driving licence is already in use</h1>
          <p class="govuk-body">The driving licence number <strong>HIELS607129SH9QG</strong> is being used by another profile.</p>
          <p>Make sure you have added the correct driving licence number.</p>
          <p><a href="#" class="govuk-link">View profile</a></p>
          <button class="govuk-button" data-module="govuk-button">
            Go back and change
          </button>
          <p><a href="#" class="govuk-link">Cancel and return home</a></p>
        </div>

        <br>

        <div class="interupt-panel">
          <h1 class="govuk-heading-xl">This driving licence is already in use</h1>
          <p class="govuk-body">The driving licence number <strong>HIELS607129SH9QG</strong> is being used by another profile.</p>
          <p><a href="#" class="govuk-link">View profile</a></p>
          <p>Make sure you have added the correct driving licence number.</p>

          <button class="govuk-button" data-module="govuk-button">
            Go back and change
          </button>
          <p><a href="#" class="govuk-link">Cancel and return home</a></p>
        </div>

        <br> -->

        <div class="interupt-panel">
          <h1 class="govuk-heading-xl">This driving licence is already in use</h1>
          <p class="govuk-body">The driving licence number <strong>HIELS607129SH9QG</strong> is being used by another profile.</p>

          <p>Make sure you have added the correct driving licence number.</p>

          <button class="govuk-button" data-module="govuk-button">
            Go back and change
          </button>
            <p><a href="#" class="govuk-link">View profile</a></p>
          <p><a href="#" class="govuk-link">Cancel and return home</a></p>
        </div>



      </div>
    </div>

  </main>
</div>






{% endblock %}
