
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">New content examples for offsite review</h1>



    <div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
    <legend class="govuk-fieldset__legend">
      <h1 class="govuk-fieldset__heading">
        Type of review
      </h1>
    </legend>
    <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
        <label class="govuk-label govuk-radios__label" for="changed-name">
          Onsite
        </label>
      </div>
      <div class="govuk-radios__item">
        <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="no">
        <label class="govuk-label govuk-radios__label" for="changed-name-2">
          Offsite
        </label>
      </div>
    </div>

  </fieldset>
</div>


    <div class="action-panel">
        <div class="action-panel__container">
          <h2 class="govuk-heading-l">Compliance</h2>
          <h3 class="govuk-heading-l">Not recorded</h3>
          <button class="govuk-button" data-module="govuk-button">
            Record outcome
          </button>
          </div>
    </div>

    <div class="action-panel">
        <div class="action-panel__container">
          <h2 class="govuk-heading-l">Premises</h2>
          <h3 class="govuk-heading-l">Not recorded</h3>
          <button class="govuk-button" data-module="govuk-button">
            Record outcome
          </button>
          </div>
    </div>

    <div class="action-panel">
        <div class="action-panel__container">
          <h2 class="govuk-heading-l">Management and quality</h2>
          <h3 class="govuk-heading-l">Not recorded</h3>
          <button class="govuk-button" data-module="govuk-button">
            Record outcome
          </button>
          </div>
    </div>

    <div class="action-panel">
        <div class="action-panel__container">
          <h2 class="govuk-heading-l">People</h2>
          <h3 class="govuk-heading-l">Not recorded</h3>
          <button class="govuk-button" data-module="govuk-button">
            Record outcome
          </button>
          </div>
    </div>


<div class="action-panel">
        <div class="action-panel__container">
          <h2 class="govuk-heading-l">Activity</h2>
          <h3 class="govuk-heading-l">No activity performed - offsite review</h3>
                </div>

    </div>

  </main>
</div>



<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <span class="govuk-caption-xl">Site review</span>
        <h1 class="govuk-heading-xl">Check details</h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type of review
            </dt>
            <dd class="govuk-summary-list__key">
              Offsite
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Site review outcome
            </dt>
            <dd class="govuk-summary-list__key">
              Unsatisfactory
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Compliance
            </dt>
            <dd class="govuk-summary-list__key">
              Satisfactory
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              Premises
            </dt>
            <dd class="govuk-summary-list__key">
              Satisfactory
              <br><p>Comment: test</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              Management and quality
            </dt>
            <dd class="govuk-summary-list__key">
              Needs improvement
              <br><p>Advice given: test</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              People
            </dt>
            <dd class="govuk-summary-list__key">
              Unsatisfactory
              <br><p>Advice given: test</p>
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              Activity
            </dt>
            <dd class="govuk-summary-list__key">
              No activity performed - offsite review
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              Examiner's Users ID
            </dt>
            <dd class="govuk-summary-list__key">
              CAME004
            </dd>
            <dd class="govuk-summary-list__actions">

            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              AE representative's User ID
            </dt>
            <dd class="govuk-summary-list__key">
              N/A
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              AE representative's full name
            </dt>
            <dd class="govuk-summary-list__key">
              test
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              AE representative's role
            </dt>
            <dd class="govuk-summary-list__key">
              test
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__value">
              Date of site visit
            </dt>
            <dd class="govuk-summary-list__key">
              01 January 2021
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>

        </dl>





        <form action="/form-handler" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <button class="govuk-button" data-module="govuk-button">
            Save and confirm
          </button>

        </form>

      </div>
    </div>
  </main>
</div>




<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Offsite review has been saved
          </h1>
          <div class="govuk-panel__body">
            Event has been created automatically
          </div>
        </div>

        <p class="govuk-body">Inform the AE that they can view details of this offsite review in MOT testing service straight away.</p>

        <p class="govuk-body">
          <a href="#" class="govuk-link">Back</a>
        </p>
      </div>
    </div>
  </main>
</div>

<span class="govuk-caption-xl">Events</span>
<h1 class="govuk-heading-xl">Event details</h1>


<table class="govuk-table">
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Event type</td>
      <td class="govuk-table__header">Site review
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Outcome</td>
      <td class="govuk-table__header">Advisory Warning Letter (AWL)
      <br>
      <p><a href="">View site review</a></p>
    </td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Added by</td>
      <td class="govuk-table__header">Xochitl Karlyn Swayne</td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Event date</td>
      <td class="govuk-table__header">23 February 2022</td>
    </tr>
    <tr class="govuk-table__row">
      <td scope="row" class="govuk-table__cell">Summary</td>
      <td class="govuk-table__header">Site review</td>
  </tbody>
</table>

<p><a href="">Go back</a></p>






{% endblock %}
