{% extends "layout.html" %}

{% block pageTitle %}
  VAUXHALL ZAFIRA – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-!-margin-bottom-4">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">CU57ABC</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
        VAUXHALL ZAFIRA
      </h1>
      <p><a class="govuk-link--no-visited-state" href="reg">Check another vehicle</a></p>
    </div>
  </div>

  <div class="govuk-grid-row govuk-!-margin-bottom-4">
    <div class="govuk-grid-column-one-third">
      <span class="govuk-caption-m">Colour</span>
      <h2 class="govuk-heading-m">Silver</h2>
    </div>
    <div class="govuk-grid-column-one-third">
      <span class="govuk-caption-m">Fuel type</span>
      <h2 class="govuk-heading-m">Petrol</h2>
    </div>
    <div class="govuk-grid-column-one-third">
      <span class="govuk-caption-m">Date registered</span>
      <h2 class="govuk-heading-m">29 March 2007</h2>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <span class="govuk-caption-l">MOT valid until</span>
    <h1 class="govuk-heading-l govuk-!-margin-bottom-6">
      17 September 2022
    </h1>
    <p><a class="govuk-link--no-visited-state" href="#">Get an MOT reminder</a> by email or text.</p>
    <p>If you think the MOT expiry date or any of the vehicle details are wrong, <a class="govuk-link--no-visited-state" href="#">contact DVSA</a>.</p>
    </div>
  </div>


  <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
            MOT history
          </span>
        </h2>
        <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
        Check mileage recorded at test, MOT expiry date, defects and advisories, and view test certificate
        </div>
      </div>
      <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
        <!--Start MOT test-->
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-m">Date tested</span>
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">18 September 2021</h2>
            <h2 class="govuk-heading-xl" style="color:#00703c;">PASS</h2>
          </div>
          <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
            <span class="govuk-caption-m">Mileage</span>
            <h2 class="govuk-heading-s">131,687 miles</h2>
            <span class="govuk-caption-m">Test location</span>
            <a class="govuk-link--no-visited-state" href="#">View test location</a>
          </div>
          <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-m">MOT test number</span>
            <h2 class="govuk-heading-s">4901 5248 5547</h2>
            <span class="govuk-caption-m">Expiry date</span>
            <h2 class="govuk-heading-s">17 September 2022</h2>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-m">Monitor and repair if necessary (advisories):</span>
            <ul class="govuk-list govuk-list--bullet govuk-!-font-weight-bold">
              <li class="govuk-!-margin-bottom-0">Front Track rod end ball joint has slight play (2.1.3 (b) (i))</li>
            </ul>
            <a class="govuk-link--no-visited-state" href="#">What are advisories?</a>
          </div>
        </div>
        <!--End MOT test-->

        <!--Start MOT test-->
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-m">Date tested</span>
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">9 February 2021</h2>
            <h2 class="govuk-heading-xl" style="color:#b10e1e;">FAIL</h2>
          </div>
          <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
            <span class="govuk-caption-m">Mileage</span>
            <h2 class="govuk-heading-s">131,620 miles</h2>
            <span class="govuk-caption-m">Test location</span>
            <a class="govuk-link--no-visited-state" href="#">View test location</a>
          </div>
          <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-m">MOT test number</span>
            <h2 class="govuk-heading-s">1345 6778 5677</h2>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-m">Do not drive until repaired (dangerous defects):</span>
            <ul class="govuk-list govuk-list--bullet govuk-!-font-weight-bold">
              <li class="govuk-!-margin-bottom-0">Parking brake efficiency less than 50% of the required value (1.4.2 (a) (ii))</li>
            </ul>
            <span class="govuk-caption-m">Repair immediately (major defects):</span>
            <ul class="govuk-list govuk-list--bullet govuk-!-font-weight-bold">
              <li class="govuk-!-margin-bottom-0">Exhaust carbon monoxide content after 2nd fast idle exceeds default limits (8.2.1.2 (b))</li>
            </ul>
            <a class="govuk-link--no-visited-state" href="#">What are defects?</a>
          </div>
        </div>
        <!--End MOT test-->

        <!--Start MOT test-->
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-m">Date tested</span>
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">13 January 2020</h2>
            <h2 class="govuk-heading-xl" style="color:#00703c;">PASS</h2>
          </div>
          <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
            <span class="govuk-caption-m">Mileage</span>
            <h2 class="govuk-heading-s">123,248 miles</h2>
            <span class="govuk-caption-m">Test location</span>
            <a class="govuk-link--no-visited-state" href="#">View test location</a>
          </div>
          <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-m">MOT test number</span>
            <h2 class="govuk-heading-s">4901 5248 5547</h2>
            <span class="govuk-caption-m">Expiry date</span>
            <h2 class="govuk-heading-s">10 February 2021</h2>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-m">Monitor and repair if necessary (advisories):</span>
            <ul class="govuk-list govuk-list--bullet govuk-!-font-weight-bold">
              <li class="govuk-!-margin-bottom-0">Offside Front Anti-roll bar linkage ball joint has slight play (5.3.4 (a) (i))</li>
              <li class="govuk-!-margin-bottom-0">Offside Front Play in steering rack inner joint(s) ()</li>
              <li class="govuk-!-margin-bottom-0">Nearside Front Lower Suspension arm ball joint has slight play (5.3.4 (a) (i))</li>
            </ul>
            <a class="govuk-link--no-visited-state" href="#">What are advisories?</a>
          </div>
        </div>
        <!--End MOT test-->

        <!--Start MOT test-->
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-m">Date tested</span>
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">11 February 2019</h2>
            <h2 class="govuk-heading-xl" style="color:#00703c;">PASS</h2>
          </div>
          <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
            <span class="govuk-caption-m">Mileage</span>
            <h2 class="govuk-heading-s">114,567 miles</h2>
            <span class="govuk-caption-m">Test location</span>
            <a class="govuk-link--no-visited-state" href="#">View test location</a>
          </div>
          <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-m">MOT test number</span>
            <h2 class="govuk-heading-s">4901 5248 5547</h2>
            <span class="govuk-caption-m">Expiry date</span>
            <h2 class="govuk-heading-s">10 February 2020</h2>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-m">Monitor and repair if necessary (advisories):</span>
            <ul class="govuk-list govuk-list--bullet govuk-!-font-weight-bold">
              <li class="govuk-!-margin-bottom-0">Nearside Front Service brake binding but not excessively (1.2.1 (f))</li>
              <li class="govuk-!-margin-bottom-0">Front Service brake fluctuating, but not excessively (1.2.1 (e))</li>
              <li class="govuk-!-margin-bottom-0">Rear Service brake fluctuating, but not excessively (1.2.1 (e))</li>
              <li class="govuk-!-margin-bottom-0">Play in steering rack inner joint(s) ()</li>
              <li class="govuk-!-margin-bottom-0">Nearside Front Lower Suspension arm ball joint has slight play (5.3.4 (a) (i))</li>
            </ul>
            <a class="govuk-link--no-visited-state" href="#">What are advisories?</a>
          </div>
        </div>
        <!--End MOT test-->

        <!--Start MOT test-->
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-m">Date tested</span>
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">4 February 2019</h2>
            <h2 class="govuk-heading-xl" style="color:#b10e1e;">FAIL</h2>
          </div>
          <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
            <span class="govuk-caption-m">Mileage</span>
            <h2 class="govuk-heading-s">114,120 miles</h2>
            <span class="govuk-caption-m">Test location</span>
            <a class="govuk-link--no-visited-state" href="#">View test location</a>
          </div>
          <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-m">MOT test number</span>
            <h2 class="govuk-heading-s">4345 5678 5647</h2>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-m">Do not drive until repaired (dangerous defects):</span>
            <ul class="govuk-list govuk-list--bullet govuk-!-font-weight-bold">
              <li class="govuk-!-margin-bottom-0">Parking brake efficiency less than 50% of the required value (1.4.2 (a) (ii))</li>
            </ul>
            <span class="govuk-caption-m">Repair immediately (major defects):</span>
            <ul class="govuk-list govuk-list--bullet govuk-!-font-weight-bold">
              <li class="govuk-!-margin-bottom-0">Engine MIL inoperative or indicates a malfunction (8.2.1.2 (h))</li>
              <li class="govuk-!-margin-bottom-0">Offside Front Lower Suspension arm pin or bush excessively worn rear bush on arm (5.3.4 (a) (i))</li>
              <li class="govuk-!-margin-bottom-0">Nearside Rear Sub-frame pin or bush excessively worn axle bush (5.3.4 (a) (i))</li>
              <li class="govuk-!-margin-bottom-0">Exhaust carbon monoxide content after 2nd fast idle exceeds default limits (8.2.1.2 (b))</li>
              <li class="govuk-!-margin-bottom-0">Rear Brakes imbalanced across an axle (1.2.1 (b) (i))</li>
            </ul>
            <a class="govuk-link--no-visited-state" href="#">What are defects and advisories?</a>
          </div>
        </div>
        <!--End MOT test-->

        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <div class="govuk-inset-text">
              <h2 class="govuk-heading-s govuk-!-margin-bottom-0">MOT test changed on 20 May 2018</h2>
              <p>Defects are now categorised according to their severity – dangerous, major, and minor. <a href="#">Find out more</a></p>
            </div>
          </div>
        </div>

        <!--Start MOT test-->
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-m">Date tested</span>
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">15 January 2018</h2>
            <h2 class="govuk-heading-xl" style="color:#00703c;">PASS</h2>
          </div>
          <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
            <span class="govuk-caption-m">Mileage</span>
            <h2 class="govuk-heading-s">104,976 miles</h2>
            <span class="govuk-caption-m">Test location</span>
            <a class="govuk-link--no-visited-state" href="#">View test location</a>
          </div>
          <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-m">MOT test number</span>
            <h2 class="govuk-heading-s">6789 4556 0943</h2>
            <span class="govuk-caption-m">Expiry date</span>
            <h2 class="govuk-heading-s">19 January 2019</h2>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-m">Monitor and repair if necessary (advisories):</span>
            <ul class="govuk-list govuk-list--bullet govuk-!-font-weight-bold">
              <li class="govuk-!-margin-bottom-0">Nearside Rear Trailing arm rubber bush deteriorated but not resulting in excessive movement (2.4.G.2)</li>
              <li class="govuk-!-margin-bottom-0">Offside Rear Trailing arm rubber bush deteriorated but not resulting in excessive movement (2.4.G.2)</li>
            </ul>
            <a class="govuk-link--no-visited-state" href="#">What are advisories?</a>
          </div>
        </div>
        <!--End MOT test-->

        <!--Start MOT test-->
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-m">Date tested</span>
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">11 January 2017</h2>
            <h2 class="govuk-heading-xl" style="color:#00703c;">PASS</h2>
          </div>
          <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
            <span class="govuk-caption-m">Mileage</span>
            <h2 class="govuk-heading-s">83,345 miles</h2>
            <span class="govuk-caption-m">Test location</span>
            <a class="govuk-link--no-visited-state" href="#">View test location</a>
          </div>
          <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-m">MOT test number</span>
            <h2 class="govuk-heading-s">4567 7897 2945</h2>
            <span class="govuk-caption-m">Expiry date</span>
            <h2 class="govuk-heading-s">19 January 2018</h2>
          </div>
        </div>
        <!--End MOT test-->

        <!--Start MOT test-->
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-m">Date tested</span>
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">9 January 2017</h2>
            <h2 class="govuk-heading-xl" style="color:#b10e1e;">FAIL</h2>
          </div>
          <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
            <span class="govuk-caption-m">Mileage</span>
            <h2 class="govuk-heading-s">83,120 miles</h2>
            <span class="govuk-caption-m">Test location</span>
            <a class="govuk-link--no-visited-state" href="#">View test location</a>
          </div>
          <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-m">MOT test number</span>
            <h2 class="govuk-heading-s">4345 5678 5647</h2>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-m">Reason(s) for failure</span>
            <ul class="govuk-list govuk-list--bullet govuk-!-font-weight-bold">
              <li class="govuk-!-margin-bottom-0">Windscreen washer provides insufficient washer liquid (8.2.3)</li>
              <li class="govuk-!-margin-bottom-0">Offside Rear passenger door cannot be opened from outside the vehicle (6.2.B.1c)</li>
              <li class="govuk-!-margin-bottom-0">Offside Front Headlamp aim beam image obviously incorrect (1.8.A.1b)</li>
              <li class="govuk-!-margin-bottom-0">Offside Front Track rod end ball joint has excessive play (2.2.B.1f)</li>
              <li class="govuk-!-margin-bottom-0">Offside Rear Braking system leaking front to rear (3.6.A.1)</li>
              <li class="govuk-!-margin-bottom-0">Rear Exhaust has a major leak of exhaust gases (7.1.2)</li>
            </ul>
            <a class="govuk-link--no-visited-state" href="#">What are defects and advisories?</a>
          </div>
        </div>
        <!--End MOT test-->

        <!--Start MOT test-->
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-m">Date tested</span>
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">20 January 2016</h2>
            <h2 class="govuk-heading-xl" style="color:#00703c;">PASS</h2>
          </div>
          <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
            <span class="govuk-caption-m">Mileage</span>
            <h2 class="govuk-heading-s">61,096 miles</h2>
            <span class="govuk-caption-m">Test location</span>
            <a class="govuk-link--no-visited-state" href="#">View test location</a>
          </div>
          <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-m">MOT test number</span>
            <h2 class="govuk-heading-s">6789 4556 0943</h2>
            <span class="govuk-caption-m">Expiry date</span>
            <h2 class="govuk-heading-s">19 January 2017</h2>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-m">Advisory notice item(s)</span>
            <ul class="govuk-list govuk-list--bullet govuk-!-font-weight-bold">
              <li class="govuk-!-margin-bottom-0">Nearside Rear Tyre worn close to the legal limit worn on inner edge (4.1.E.1)</li>
              <li class="govuk-!-margin-bottom-0">Nearside Front brake disc worn, pitted or scored, but not seriously weakened (3.5.1i)</li>
              <li class="govuk-!-margin-bottom-0">Offside Front brake disc worn, pitted or scored, but not seriously weakened (3.5.1i)</li>
            </ul>
            <a class="govuk-link--no-visited-state" href="#">What are advisories?</a>
          </div>
        </div>
        <!--End MOT test-->

        <!--Start MOT test-->
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-m">Date tested</span>
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">18 December 2015</h2>
            <h2 class="govuk-heading-xl" style="color:#b10e1e;">FAIL</h2>
          </div>
          <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
            <span class="govuk-caption-m">Mileage</span>
            <h2 class="govuk-heading-s">60,678 miles</h2>
            <span class="govuk-caption-m">Test location</span>
            <a class="govuk-link--no-visited-state" href="#">View test location</a>
          </div>
          <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-m">MOT test number</span>
            <h2 class="govuk-heading-s">4345 5678 5647</h2>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-m">Reason(s) for failure</span>
            <ul class="govuk-list govuk-list--bullet govuk-!-font-weight-bold">
              <li class="govuk-!-margin-bottom-0">Offside Rear position lamp(s) not working (1.1.A.3b)</li>
              <li class="govuk-!-margin-bottom-0">Nearside Front Upper Anti-roll bar linkage ball joint dust cover excessively damaged so that it no longer prevents the ingress of dirt (2.4.G.2)</li>
              <li class="govuk-!-margin-bottom-0">Exhaust emissions Lambda reading after 2nd fast idle outside specified limits (7.3.D.3)</li>
            </ul>
            <span class="govuk-caption-m">Advisory notice item(s)</span>
            <ul class="govuk-list govuk-list--bullet govuk-!-font-weight-bold">
              <li class="govuk-!-margin-bottom-0">Nearside Front brake disc worn, pitted or scored, but not seriously weakened (3.5.1i)</li>
              <li class="govuk-!-margin-bottom-0">Offside Front brake disc worn, pitted or scored, but not seriously weakened (3.5.1i)</li>
            </ul>
            <a class="govuk-link--no-visited-state" href="#">What are failures and advisories?</a>
          </div>
        </div>
        <!--End MOT test-->

        <!--Start MOT test-->
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-m">Date tested</span>
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">23 December 2014</h2>
            <h2 class="govuk-heading-xl" style="color:#00703c;">PASS</h2>
          </div>
          <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
            <span class="govuk-caption-m">Mileage</span>
            <h2 class="govuk-heading-s">53,611 miles</h2>
            <span class="govuk-caption-m">Test location</span>
            <a class="govuk-link--no-visited-state" href="#">View test location</a>
          </div>
          <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-m">MOT test number</span>
            <h2 class="govuk-heading-s">2789 4556 0943</h2>
            <span class="govuk-caption-m">Expiry date</span>
            <h2 class="govuk-heading-s">22 December 2015</h2>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-m">Advisory notice item(s)</span>
            <ul class="govuk-list govuk-list--bullet govuk-!-font-weight-bold">
              <li class="govuk-!-margin-bottom-0">Offside Rear Brake pipe slightly corroded (3.6.B.2c)</li>
              <li class="govuk-!-margin-bottom-0">Offside Rear Trailing arm has slight play in a pin/bush (2.4.G.2)</li>
              <li class="govuk-!-margin-bottom-0">brake disc worn, pitted or scored, but not seriously weakened (3.5.1i)</li>
            </ul>
            <a class="govuk-link--no-visited-state" href="#">What are advisories?</a>
          </div>
        </div>
        <!--End MOT test-->

        <!--Start MOT test-->
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-m">Date tested</span>
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">19 April 2013</h2>
            <h2 class="govuk-heading-xl" style="color:#00703c;">PASS</h2>
          </div>
          <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
            <span class="govuk-caption-m">Mileage</span>
            <h2 class="govuk-heading-s">44,141 miles</h2>
            <span class="govuk-caption-m">Test location</span>
            <a class="govuk-link--no-visited-state" href="#">View test location</a>
          </div>
          <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-m">MOT test number</span>
            <h2 class="govuk-heading-s">4769 4676 5978</h2>
            <span class="govuk-caption-m">Expiry date</span>
            <h2 class="govuk-heading-s">22 December 2015</h2>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-m">Advisory notice item(s)</span>
            <ul class="govuk-list govuk-list--bullet govuk-!-font-weight-bold">
              <li class="govuk-!-margin-bottom-0">scuffing noise at offside front wheel.offside rear tyre worn on inner edge.</li>
            </ul>
            <a class="govuk-link--no-visited-state" href="#">What are advisories?</a>
          </div>
        </div>
        <!--End MOT test-->

        <!--Start MOT test-->
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-m">Date tested</span>
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">20 April 2012</h2>
            <h2 class="govuk-heading-xl" style="color:#00703c;">PASS</h2>
          </div>
          <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
            <span class="govuk-caption-m">Mileage</span>
            <h2 class="govuk-heading-s">34,546 miles</h2>
            <span class="govuk-caption-m">Test location</span>
            <a class="govuk-link--no-visited-state" href="#">View test location</a>
          </div>
          <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-m">MOT test number</span>
            <h2 class="govuk-heading-s">5667 4678 0394</h2>
            <span class="govuk-caption-m">Expiry date</span>
            <h2 class="govuk-heading-s">19 April 2013</h2>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-m">Advisory notice item(s)</span>
            <ul class="govuk-list govuk-list--bullet govuk-!-font-weight-bold">
              <li class="govuk-!-margin-bottom-0">various damage to car front and rear suspension bushes soft</li>
            </ul>
            <a class="govuk-link--no-visited-state" href="#">What are advisories?</a>
          </div>
        </div>
        <!--End MOT test-->

        <!--Start MOT test-->
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-m">Date tested</span>
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">18 April 2011</h2>
            <h2 class="govuk-heading-xl" style="color:#00703c;">PASS</h2>
          </div>
          <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
            <span class="govuk-caption-m">Mileage</span>
            <h2 class="govuk-heading-s">22,677 miles</h2>
            <span class="govuk-caption-m">Test location</span>
            <a class="govuk-link--no-visited-state" href="#">View test location</a>
          </div>
          <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-m">MOT test number</span>
            <h2 class="govuk-heading-s">6789 4556 9876</h2>
            <span class="govuk-caption-m">Expiry date</span>
            <h2 class="govuk-heading-s">17 April 2012</h2>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <span class="govuk-caption-m">Advisory notice item(s)</span>
            <ul class="govuk-list govuk-list--bullet govuk-!-font-weight-bold">
              <li class="govuk-!-margin-bottom-0">Front Windscreen has damage to an area less than a 10mm circle within zone 'A' (8.3.1a)</li>
            </ul>
            <a class="govuk-link--no-visited-state" href="#">What are advisories?</a>
          </div>
        </div>
        <!--End MOT test-->

        <!--Start MOT test-->
        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-m">Date tested</span>
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1">4 February 2010</h2>
            <h2 class="govuk-heading-xl" style="color:#00703c;">PASS</h2>
          </div>
          <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
            <span class="govuk-caption-m">Mileage</span>
            <h2 class="govuk-heading-s">11,067 miles</h2>
            <span class="govuk-caption-m">Test location</span>
            <a class="govuk-link--no-visited-state" href="#">View test location</a>
          </div>
          <div class="govuk-grid-column-one-third">
            <span class="govuk-caption-m">MOT test number</span>
            <h2 class="govuk-heading-s">6789 5664 3214</h2>
            <span class="govuk-caption-m">Expiry date</span>
            <h2 class="govuk-heading-s">3 February 2011</h2>
          </div>
        </div>
        <!--End MOT test-->
      </div>
    </div>
    <div class="govuk-accordion__section ">
      <div class="govuk-accordion__section-header">
        <h2 class="govuk-accordion__section-heading">
          <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
            Outstanding safety recalls
          </span>
        </h2>
        <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
        Check if VAUXHALL ZAFIRA CU57ABC has outstanding safety recalls
        </div>
      </div>
      <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
        <div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            This vehicle has an outstanding safety recall.
          </strong>
        </div>
        <p class='govuk-body'>If you’re the owner of this vehicle you need to contact the local VAUXHALL dealership to arrange for a free repair.</p>
        <p>If the recalled component has been repaired recently, it can take up to 3 weeks for the manufacturer to update their records. This information is provided by the vehicle manufacturer, so if you think the recall information is wrong you need to contact your local VAUXHALL dealership. </p>
      </div>
    </div>
  </div>

{% endblock %}
