
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">



        <span class="govuk-caption-l">MOT testing</span>
        <h1 class="govuk-heading-l">Confirm vehicle and start test</h1>

        <p class="govuk-body">Check that you have the right vehicle before starting the test.</p>

        </div>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

            <span class="govuk-caption-m">Vehicle</span>
            <h1 class="govuk-heading-m">FORD FIESTA</h1>

          </div>

        </div>



        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-third">

            <span class="govuk-caption-m" style="margin-bottom:5px;">Registration number</span>

            <p><span class="reg-mark" style="font-size:200%;margin-right:0.6em">
              CU57&nbsp;ABC
            </span></p>

          </div>

          <div class="govuk-grid-column-one-third">

            <span class="govuk-caption-m">VIN</span>
            <p class="govuk-body govuk-!-font-weight-bold">CBAAAAAAAAA0000028</p>

          </div>

          <div class="govuk-grid-column-one-third">

            <span class="govuk-caption-m">Colour</span>
            <p class="govuk-body govuk-!-font-weight-bold"><span class="colour-box">Re</span>Red</p>

          </div>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">

        <div class="confirm-car-details">

        <br>

        <div class="vehicle-specification">

          <h2 class="govuk-heading-m">Vehicle specification</h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Make and model
              </dt>
              <dd class="govuk-summary-list__value">
                FORD, FIESTA
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Engine
              </dt>
              <dd class="govuk-summary-list__value">
                Petrol, 996
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> date of birth</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Colour
              </dt>
              <dd class="govuk-summary-list__value">
                Red
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> address</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Brake test weight
              </dt>
              <dd class="govuk-summary-list__value">
                1075kg
              </dd>
              <dd class="govuk-summary-list__actions">
                <!-- <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> contact details</span>
                </a> -->
              </dd>
            </div>
          </dl>


          <h2 class="govuk-heading-m">Vehicle registration</h2>

          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Registration number
              </dt>
              <dd class="govuk-summary-list__value">
                CU57 ABC
              </dd>
              <dd class="govuk-summary-list__actions">

              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                VIN
              </dt>
              <dd class="govuk-summary-list__value">
                CBAAAAAAAAA0000028
              </dd>
              <dd class="govuk-summary-list__actions">

              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Country of registration
              </dt>
              <dd class="govuk-summary-list__value">
                GB, UK, ENG, CMY, SCO (UK) - Great Britain
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> address</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                MOT test class
              </dt>
              <dd class="govuk-summary-list__value">
                4
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="#">
                  Change<span class="govuk-visually-hidden"> contact details</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Vehicle category
              </dt>
              <dd class="govuk-summary-list__value">
                M1
              </dd>
              <dd class="govuk-summary-list__actions">

              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Date of first use
              </dt>
              <dd class="govuk-summary-list__value">
                26 July 2013
              </dd>
              <dd class="govuk-summary-list__actions">

              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                MOT expiration date
              </dt>
              <dd class="govuk-summary-list__value">
                20 January 2022
              </dd>
              <dd class="govuk-summary-list__actions">

              </dd>
            </div>
          </dl>



        <div>

        <a href="confirm-car" class="govuk-button">Confirm and start test</a>

        <a href="confirm-car" class="govuk-button govuk-button--warning" style="float:right">Refuse to test</a>

        </div>





      <p><a href="#" class="govuk-link">Search again</a></p>

      <p><a href="start.html" class="govuk-link">Cancel and return to find a vehicle </a></p>

      </div>
    </div>

  </main>
</div>






{% endblock %}
