
{% extends "layout-dashboard.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<p>Help us make this service better. Give us your <a href="">feedback</a>.</p>

<div class="purple-container">
  <main class="govuk-main-wrapper top-container">

    <div class="govuk-grid-row top-header">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Your home</h1>
      </div>

      <div class="govuk-grid-column-one-third">
        <div class="side-panel">
          <div class="side-panel-content">
          <a href="select-site.html" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
            <span class="start">Start MOT test</span>
            <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
              <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
            </svg>
          </a>

          <a href="#" class="govuk-link govuk-link--inverse">Replacement/duplicate certificate</a>
          <br><br>
          <a href="#" class="govuk-link govuk-link--inverse">MOT forms</a>

          </div>

        </div>
      </div>
    </div>

  </main>
  </div>

  <div class="govuk-width-container">

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m">Messages</h2>
        <p class="govuk-body">You have no new messages </p>
        <p><a href="#" class="govuk-link">View all messages</a></p>


      </div>

      <div class="govuk-grid-column-one-half">
        <h2 class="govuk-heading-m"><a href="#" class="govuk-link">REGANS TEST CENTRE LTD</a>
        <span class="govuk-caption-m">Authorised Examiner number: AE0G6048</span></h2>

        <p class="govuk-body-s">Your vehicle testing stations</p>

        <div class="testing-stations">
          <p class="govuk-body-s">
            <a href="#" class="govuk-link">(VTS067902) LETHAM MOTOR WORKS LTD</a>
            <span class="govuk-caption-m">Tester</span>
          </p>
        </div>

        <h2 class="govuk-heading-s">115
        <p class="govuk-body-s">slots avaliable</p>
        </h2>

        <h2 class="govuk-heading-m">Your performance</h2>
        <p><a href="#" class="govuk-link">Performance dashboard</a></p>

        <h2 class="govuk-heading-m">Training</h2>

        <p class="govuk-body-m">Practice on any class of vehicle without using slots or recording the outcome.</p>

        <a href="#" class="govuk-button">Start training test</a>

        <h2 class="govuk-heading-m">Contingency Tests</h2>

        <p class="govuk-body-m">
          <a href="#" class="govuk-link">Record contingency test</a>
        </p>
        <p class="govuk-body-m">
          <a href="#" class="govuk-link">CT20 Pass Certificate</a>
        </p>
        <p class="govuk-body-m">
          <a href="#" class="govuk-link">CT30 Refusal Notice</a>
        </p>

      </div>
    </div>

  </main>
</div>





{% endblock %}
