
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-form-group select-site">
        <fieldset class="govuk-fieldset" aria-describedby="sign-in-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <span class="govuk-caption-l">MOT testing</span>
            <h1 class="govuk-fieldset__heading">
              Select your current site
            </h1>
          </legend>
          <div id="sign-in-hint" class="govuk-hint">
            You’ll need an account to prove your identity and complete your Self Assessment.
          </div>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sign-in" name="sign-in" type="radio" value="government-gateway" aria-describedby="sign-in-item-hint">
              <label class="govuk-label govuk-radios__label" for="sign-in">
                LETHAM MOTOR WORKS LTD
              </label>
              <div id="sign-in-item-hint" class="govuk-hint govuk-radios__hint">
                VTSO67902, 72, Note Lane, Pows, BS12 0DU
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sign-in-2" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-2-item-hint">
              <label class="govuk-label govuk-radios__label" for="sign-in-2">
                BULB MOTOR WORKS
              </label>
              <div id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
                VTS007270, 135, Manager Dene, Devon, CF8 8LU
              </div>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="sign-in-3" name="sign-in" type="radio" value="govuk-verify" aria-describedby="sign-in-3-item-hint">
              <label class="govuk-label govuk-radios__label" for="sign-in-3">
                VTS079774
              </label>
              <div id="sign-in-2-item-hint" class="govuk-hint govuk-radios__hint">
                VTS079774, 4, Ptarmigan Street, Hampshire, SW19 2SA
              </div>
            </div>
          </div>

        </fieldset>
      </div>

      <a href="find-car" class="govuk-button">Continue</a>



    </div>
  </div>

{% endblock %}
