
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">View certificate</h1>

        <div class="govuk-inset-text">
          <strong>Coronavirus (COVID-19) update</strong>
          <br>If your MOT was extended due to coronavirus (COVID-19) the correct expiry date is recorded in the MOT history service.
          <br>This certificate will not show the extended expiry date for your vehicle.
        </div>

        <p class="govuk-body-l">The certificate will open in a new browser window as a PDF that you can download.</p>

        <h2 class="govuk-heading-m">Most recent test certificate</h2>

        <p><a href="">PASS certificate - 25th January 2022 (PDF)</a></p>

        <h2 class="govuk-heading-m">Previous test certificates</h2>

        <p><a href="">PASS certificate - 25th January 2022 (PDF)</a></p>
        <p><a href="">PASS certificate - 25th January 2022 (PDF)</a></p>
        <p><a href="">PASS certificate - 25th January 2022 (PDF)</a></p>
        <p><a href="">PASS certificate - 25th January 2022 (PDF)</a></p>
        <p><a href="">PASS certificate - 25th January 2022 (PDF)</a></p>
        <div class="resume" id="expe1">
          <p><a href="">PASS certificate - 25th January 2022 (PDF)</a></p>
          <p><a href="">PASS certificate - 25th January 2022 (PDF)</a></p>
          <p><a href="">PASS certificate - 25th January 2022 (PDF)</a></p>
          <p><a href="">PASS certificate - 25th January 2022 (PDF)</a></p>
          <p><a href="">PASS certificate - 25th January 2022 (PDF)</a></p>
        </div>
        <p><a href="#expe1">Show more</a></p>

        <br>
        <p><a href="">Return to MOT test history</a></p>

      </div>
    </div>

  </main>
</div>






{% endblock %}
