
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-l">Download your MOT test certificate</h1>




        <h2 class="govuk-heading-m">Most recent test certificate</h2>

        <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">25 January 2022</th>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Pass</strong></td>
            <td class="govuk-table__cell govuk-table__cell-right"><a href="">View certificate (PDF)</a></td>
          </tr>
        </tbody>
      </table>

        <h2 class="govuk-heading-m">Previous test certificates</h2>

        <table class="govuk-table">
  <thead class="govuk-table__head">

  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">25 January 2022</th>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Pass</strong></td>
      <td class="govuk-table__cell govuk-table__cell-right"><a href="">View certificate (PDF)</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">25 January 2022</th>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Fail</strong></td>
      <td class="govuk-table__cell govuk-table__cell-right"><a href="">View certificate (PDF)</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">25 January 2022</th>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Pass</strong></td>
      <td class="govuk-table__cell govuk-table__cell-right"><a href="">View certificate (PDF)</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">25 January 2022</th>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Pass</strong></td>
      <td class="govuk-table__cell govuk-table__cell-right"><a href="">View certificate (PDF)</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">25 January 2022</th>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Pass</strong></td>
      <td class="govuk-table__cell govuk-table__cell-right"><a href="">View certificate (PDF)</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">25 January 2022</th>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Fail</strong></td>
      <td class="govuk-table__cell govuk-table__cell-right"><a href="">View certificate (PDF)</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">25 January 2022</th>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Pass</strong></td>
      <td class="govuk-table__cell govuk-table__cell-right"><a href="">View certificate (PDF)</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">25 January 2022</th>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Pass</strong></td>
      <td class="govuk-table__cell govuk-table__cell-right"><a href="">View certificate (PDF)</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">25 January 2022</th>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Pass</strong></td>
      <td class="govuk-table__cell govuk-table__cell-right"><a href="">View certificate (PDF)</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">25 January 2022</th>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Fail</strong></td>
      <td class="govuk-table__cell govuk-table__cell-right"><a href="">View certificate (PDF)</a></td>
    </tr>
  </tbody>
</table>
<div>
  <p class="govuk-body"><span class="display-left">Showing 1 – 10 of 30 items</span><span class="display-right"><a href="">1</a> <a href="">2</a> <a href="">3</a> <a href="" id="last">Next</a> </span></p>
  </div>

  <br>

<p class="govuk-body"><a href="">Return to MOT test history</a></p>




      </div>
    </div>


  </main>
</div>







{% endblock %}
