
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">Download your MOT test certifcate</h1>

        <div class="govuk-inset-text">
          <strong>Coronavirus (COVID-19) update</strong>
          <br>If your MOT was extended due to coronavirus (COVID-19) the correct expiry date is recorded in the MOT history service.
          <br>This certificate will not show the extended expiry date for your vehicle.
        </div>

        <p class="govuk-body">The certificate will open in a new browser window as a PDF that you can download.</p>

        <h2 class="govuk-heading-m">Most recent test certificate</h2>

        <table class="govuk-table">
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">25 January 2022</th>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Pass</strong></td>
            <td class="govuk-table__cell govuk-table__cell-right"><a href="">View certificate (PDF)</a></td>
          </tr>
        </tbody>
      </table>

        <h2 class="govuk-heading-m">Previous test certificates</h2>

        <table class="govuk-table">
  <thead class="govuk-table__head">
    <!-- <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Month you apply</th>
      <th scope="col" class="govuk-table__header">Rate for vehicles</th>
    </tr> -->
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">25 January 2022</th>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Pass</strong></td>
      <td class="govuk-table__cell govuk-table__cell-right"><a href="">View certificate (PDF)</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">25 January 2022</th>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Fail</strong></td>
      <td class="govuk-table__cell govuk-table__cell-right"><a href="">View certificate (PDF)</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">25 January 2022</th>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Pass</strong></td>
      <td class="govuk-table__cell govuk-table__cell-right"><a href="">View certificate (PDF)</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">25 January 2022</th>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Pass</strong></td>
      <td class="govuk-table__cell govuk-table__cell-right"><a href="">View certificate (PDF)</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">25 January 2022</th>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Pass</strong></td>
      <td class="govuk-table__cell govuk-table__cell-right"><a href="">View certificate (PDF)</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">25 January 2022</th>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Fail</strong></td>
      <td class="govuk-table__cell govuk-table__cell-right"><a href="">View certificate (PDF)</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">25 January 2022</th>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Pass</strong></td>
      <td class="govuk-table__cell govuk-table__cell-right"><a href="">View certificate (PDF)</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">25 January 2022</th>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Pass</strong></td>
      <td class="govuk-table__cell govuk-table__cell-right"><a href="">View certificate (PDF)</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">25 January 2022</th>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Pass</strong></td>
      <td class="govuk-table__cell govuk-table__cell-right"><a href="">View certificate (PDF)</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">25 January 2022</th>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Fail</strong></td>
      <td class="govuk-table__cell govuk-table__cell-right"><a href="">View certificate (PDF)</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">25 January 2022</th>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Pass</strong></td>
      <td class="govuk-table__cell govuk-table__cell-right"><a href="">View certificate (PDF)</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">25 January 2022</th>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Fail</strong></td>
      <td class="govuk-table__cell govuk-table__cell-right"><a href="">View certificate (PDF)</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">25 January 2022</th>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Pass</strong></td>
      <td class="govuk-table__cell govuk-table__cell-right"><a href="">View certificate (PDF)</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">25 January 2022</th>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Pass</strong></td>
      <td class="govuk-table__cell govuk-table__cell-right"><a href="">View certificate (PDF)</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">25 January 2022</th>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Pass</strong></td>
      <td class="govuk-table__cell govuk-table__cell-right"><a href="">View certificate (PDF)</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">25 January 2022</th>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Fail</strong></td>
      <td class="govuk-table__cell govuk-table__cell-right"><a href="">View certificate (PDF)</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">25 January 2022</th>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Pass</strong></td>
      <td class="govuk-table__cell govuk-table__cell-right"><a href="">View certificate (PDF)</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">25 January 2022</th>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Pass</strong></td>
      <td class="govuk-table__cell govuk-table__cell-right"><a href="">View certificate (PDF)</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">25 January 2022</th>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Pass</strong></td>
      <td class="govuk-table__cell govuk-table__cell-right"><a href="">View certificate (PDF)</a></td>
    </tr>
    <tr class="govuk-table__row">
      <th scope="row" class="govuk-table__header">25 January 2022</th>
      <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Fail</strong></td>
      <td class="govuk-table__cell govuk-table__cell-right"><a href="">View certificate (PDF)</a></td>
    </tr>
  </tbody>
</table>

<p><a href="">Return to MOT test history</a></p>




      </div>
    </div>

  </main>
</div>






{% endblock %}
