
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-width-container">
    <a href="#" class="govuk-back-link">Back</a>
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Prototypes</span>
        <h1 class="govuk-heading-xl">Replace a lost or damaged MOT certificate</h1>

        <div class="index-view-proto">
          <h2 class="govuk-heading-m">Latest prototype for testing <strong class="govuk-tag govuk-tag--blue">
            V.4
          </strong>
          </h2>

          <a href="v5c-number" class="govuk-button">V5C number</a>
          <a href="download-cert-4" class="govuk-button">Download page</a>
          <a href="no-MOTs" class="govuk-button">No certificates found</a>


        </div>

        <h2 class="govuk-heading-m">History</h2>

        <p>Previous iterations, highlighting the main differences.</p>

        <p>Full design tracking can be <a href="https://lucid.app/lucidspark/2ecf3313-0519-48c3-9b6d-dda3ba737ac5/edit?invitationId=inv_18721849-fc92-413d-a8a1-2aa77f1e81cc" class="govuk-link">found here.</a></p>

        <h2 class="govuk-heading-s">Download pages</h2>

        <p class="govuk-body"><a href="download-cert-3" class="govuk-link">Version 3</a></p>

        <p class="govuk-body"><a href="download-cert-2" class="govuk-link">Version 2</a></p>

        <p class="govuk-body"><a href="download-cert" class="govuk-link">Version 1</a></p>





      </div>
    </div>

  </main>
</div>





{% endblock %}
