
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">



        <h1 class="govuk-heading-l">No MOT test certificates found</h1>


        <p>There are no MOT certificates available for <strong>GN98WHJ</strong>.</p>


        <p class="govuk-body"><a href="">Check another vehicle</a></p>
        <p class="govuk-body"><a href="">View the MOT history of this vehicle</a></p>


      </div>
    </div>


  </main>
</div>







{% endblock %}
